$brand-primary:         #e36480;
$brand-success:         #81ae3b;
$brand-info:            #4b3065;
$brand-warning:         #df7f20;
$brand-danger:          #e23b3b;

$state-success-text:             $brand-success;
$state-success-bg:               $brand-success;
$state-success-border:           $brand-success;

$state-info-text:                $brand-info;
$state-info-bg:                  $brand-info;
$state-info-border:              $brand-info;

$state-warning-text:             $brand-warning;
$state-warning-bg:               $brand-warning;
$state-warning-border:           $brand-warning;

$state-danger-text:              $brand-danger;
$state-danger-bg:                $brand-danger;
$state-danger-border:            $brand-danger;