$aries:              #f34235;
$taurus:             #2196f2;
$gemini:             #9c27b0;
$cancer:             #019486;
$leo:                #88bf43;
$virgo:              #e91e63;
$libra:              #3f51b4;
$scorpio:            #aab927;
$sagittarius:        #e8a709;
$capricorn:          #725347;
$aquarius:           #01bad2;
$pisces:             #5b7582;



.bg-aries {
  background-color: $aries;
}

.text-aries {
  color: $aries;
}

.bg-taurus {
  background-color: $taurus;
}

.text-taurus {
  color: $taurus;
}

.bg-gemini {
  background-color: $gemini;
}

.text-gemini {
  color: $gemini;
}

.bg-cancer {
  background-color: $cancer;
}

.text-cancer {
  color: $cancer;
}

.bg-leo {
  background-color: $leo;
}

.text-leo {
  color: $leo;
}

.bg-virgo {
  background-color: $virgo;
}

.text-virgo {
  color:  $virgo;
}

.bg-libra {
  background-color: $libra;
}

.text-libra {
  color: $libra;
}

.bg-scorpio {
  background-color: $scorpio;
}

.text-scorpio {
  color: $scorpio;
}

.bg-sagittarius {
  background-color: $sagittarius;
}

.text-sagittarius {
  color: $sagittarius;
}

.bg-capricorn {
  background-color: $capricorn;
}

.text-capricorn {
  color: $capricorn;
}

.bg-aquarius {
  background-color: $aquarius;
}

.text-aquarius {
  color: $aquarius;
}

.bg-pisces {
  background-color: $pisces;
}

.text-pisces {
  color: $pisces;
}